* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(http://unsplash.it/1000);
    background-repeat: no-repeat;
    background-size: cover;
}

.inlämningar {
    display: flex;
    background-color: #23232396;
    backdrop-filter: blur(8px);
    padding: 1em 2em;
    gap: 1em
}
.inlämningar a {
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
}
