* {
    color: #000000;
     font-family: "Saira", sans-serif;
}

header {
    background-color: #03fcfc;
}

header h1 {
    font-size: 40px;
}

    



h1, h2, h3 {
     font-family: "Saira", sans-serif;
}

